*.onestep
*.out
*_start
*_pseudo
*.dat
*.bin
*.ck
*.err
*.out

# Model outputs
runs/*/*.noah
*runs/*/.onestep
*runs/*/.da

train
*.log
*_test.txt
*_train.txt
reports/
reports/*
__pycache__/
__pycache__/*
z_old/
z_old/*
z_trash/
z_trash/*
*_old/
*_old/*
*_bak/
*_bak/*
